
<div class="container">
  <p>These actions should stream to console</p>
  <br>
  <br>
  <form>
    <div class="form-group">
      <label for="data1">data1</label><br>
      <input type="text" [formControl]="data1" class="form-control">

    </div>
    <br>
    <br>

    <div class="form-group">
      <label for="data2">data2</label><br>
      <input type="text" [formControl]="data2" class="form-control">

    </div>


    <!--<button onclick="submit()" [formGroup]="form">Save</button> -->




  </form>

</div>
